* {
  /* box-sizing: border-box;
  background-color: rgba(127, 109, 172, 0.75);
  color: rgb(6, 44, 44); */
}
header {
  text-indent: 5%;
}
body main h1 {
  text-indent: 25%;
}
body {
  align-items: center;
  background-color: antiquewhite;
}
p {
  text-align: center;
  margin: 60px;
  padding: 6px;
  border: 4px solid black;
  width: 1000px;
  height: 100px;
  background-color: orange;
}

a:visited {
  color: rgb(25, 204, 90);
}
div {
  color: rgb(22, 22, 138);
}
footer {
  padding: 10px;
  text-align: justify;
  font-size: 14px;
}
footer div:first-child {
  color: crimson;
  text-indent: ;
}
footer div:last-child {
  color: red;
}
